*

!requirements.txt
!entrypoint.sh
!server.py
!settings.py
!subs_crawler/
!website/

# assets
!assets/
!assets/static/*
assets/static/sw.js
assets/static/sw.min.js.map

assets/static/assets/*/*
!assets/static/assets/*/*.min.js
!assets/static/assets/*/*.min.svg
!assets/static/assets/*/*.css

assets/other/
