@import "theme-variables";

@import "node_modules/bootstrap/scss/mixins/breakpoints";


.nav-pills .nav-link.active, .btn {
    color: $body-color;
    background-color: $primary;
    border-color: $primary;
}

.box {
    background-color: $box-bg;
}

.title-box {
    background-color: $title-box-bg;
}

@include media-breakpoint-down(sm) {
    .box:not(:last-child) {
        border-bottom-color: $box-border-color;
    }

    .box:last-child:not(.title-box) {
        border-bottom-right-radius: $border-radius-lg !important;
        border-bottom-left-radius: $border-radius-lg !important;
        box-shadow: 0 5px 5px 0 #7575754f;
    }
}

footer { background-color: #242424; }


@if ($theme == "dark") {
    // With a light theme, these styles are the default and don't need to be changed.
    // With a dark theme, change them to appropriate colors:


    // ================
    // The following repeats styles from Bootstrap that need to be changed by the dark theme
    .btn:hover {
        color: $body-color;
        background-color: darken($primary, 7.5%);
        border-color: darken($primary, 7.5%);
    }

    .form-check-input:checked[type="radio"] {
        background-image: escape-svg($form-check-radio-checked-bg-image);
    }

    .form-control, .form-control:focus, .form-check-input {
        color: $input-color;
        background-color: $input-bg;
        border-color: $input-border-color;
    }

    .text-muted {
        color: $text-muted !important;
    }

    @include media-breakpoint-down(sm) {
        .box:not(.title-box), .form-control, .form-control:focus, .form-check-input {
            background-color: $box-bg-xs;
        }
    }


    // ================
    // The following are custom (non-Bootstrap) styles
    body {
        color: $body-color;
        background-color: $body-bg;
    }

    .btn-close {
        filter: $btn-close-white-filter;  // copied from Bootstrap's _close.scss
    }
}
