@import "theme-variables";

@import "node_modules/bootstrap/scss/mixins/breakpoints";


.nav-pills .nav-link.active, .btn {
    color: $body-color;
    background-color: $primary;
    border-color: $primary;
}

.box {
    background-color: $box-bg;
}

.title-box {
    background-color: $title-box-bg;
}

@include media-breakpoint-down(xs) {
    .box:not(:last-child) {
        border-bottom-color: $box-border-color;
    }

    .box:last-child:not(.title-box) {
        border-bottom-right-radius: $border-radius-lg !important;
        border-bottom-left-radius: $border-radius-lg !important;
        box-shadow: 0 5px 5px 0 #7575754f;
    }
}

footer { background-color: #242424; }


@if ($theme == "dark") {
    // With a light theme, these styles are the default and don't need to be changed.
    // With a dark theme, change them to appropriate colors:
    body {
        color: $body-color;
        background-color: $body-bg;
    }

    .text-muted {
        color: $text-muted !important;
    }

    .form-control, .form-control:focus {
        color: $body-color;
        background-color: $box-bg;
        border-color: $input-border-color;
    }

    .custom-control-input:not(:checked) ~ .custom-control-label::before {
        background-color: $box-bg !important;
    }


    .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
        background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'><circle r='3' fill='#{$box-bg}'/></svg>"));
    }

    .close, .close:hover {
        color: white;
        text-shadow: none;
        opacity: 0.75;
    }

    .close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
        opacity: 0.5;
    }

    .btn:hover {
        background-color: darken($primary, 7.5%);
        border-color: darken($primary, 7.5%);
    }

    @include media-breakpoint-down(xs) {
        .box:not(.title-box), .form-control, .form-control:focus {
            background-color: $box-bg-xs;
        }
    }
}
