@import "theme-variables";


.day-info-checkbox  ~ .day-info-label::before { background-color: white; }

.substitutions-table {
    tbody {
        tr.first-of-group td { border-top-color: $table-border-color; }

        tr.grey td:not(.group-name) { color: $table-border-color; }

        tr.new-subs td:not(.group-name) { background-color: rgba(map_get($theme-colors, "primary"), 0.1); }
    }
}

.copy-timetable-link::before {
    background-color: white;
}


@if ($theme == "dark") {
    // With a light theme, these styles are the default and don't need to be changed.
    // With a dark theme, change them to appropriate colors:
    .table {
        color: $table-color;

        th, td {
            border-top-color: $table-border-color;
        }

        thead th {
            border-bottom-color: $table-border-color;
        }

        tbody + tbody {
            border-top-color: $table-border-color;
        }
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: inherit;
    }
}
