/*! purgecss start ignore */
body, p {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#view-e {
    //cursor: pointer;
    text-decoration: none;

    &::after {
        content: "E-Mail-Adresse ansehen";
        color: #e07d00;
    }
    &:hover {
        &::before {
            content: "florian.raediker.de@";
            color: black;
       }
        &::after {
            content: "gmail.com";
            color: black;
        }
    }
}
