@import "variables-dark";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";


// BOOTSTRAP STYLES

body {
    color: $body-color;
    background-color: $body-bg;
}

.text-muted { color: $text-muted !important; }

.form-control, .form-control:focus {
    color: white;
    background-color: $box-bg;
    border-color: $input-border-color;
}

.custom-switch .custom-control-label::before { background-color: $box-bg; }


// STYLES FROM main.scss

.nav-pills .nav-link.active {
    background-color: $primary;
}

.box { background-color: $box-bg; }

.title-box {
    background-color: #353535;

    .selection {

    }
}

@include media-breakpoint-down(xs) {
    .box:not(:last-child) { border-bottom-color: black; }

    .box:last-child:not(.title-box) {
        border-bottom-right-radius: $border-radius-lg !important;
        border-bottom-left-radius: $border-radius-lg !important;
        box-shadow: 0 5px 5px 0 #7575754f;
    }
}

footer { background-color: #242424; }
