body {
    background-color: #FC8600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Helvetica Neue, Roboto, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    margin: 0 0 70px 0;
}

#content p {
    margin-top: 0;
}

#title-bar {
    position: relative;
    margin-top: 8px;
    font-size: 162.5%;
    background-color: #f7d45e;
    word-wrap: break-word;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

#title-bar:has(nav) {
    padding-bottom: 3px;
}

#title-bar #subtitle {
    font-size: 65%;
    display: block;
    margin-top: 0.5em;
    margin-left: 1em;
}

#title-bar > a {
    color: initial;
}

#title-bar > a:hover {
    color: initial;
}


nav {
    transform: translateY(8px);
    margin-top: 2px;
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 80%;
}

nav a {
    line-height: 160%;
    color: #ab6f41;
    text-align: center;
}

nav a.active {
    cursor: pointer;
}


@media (min-width: 351px) {
    nav a {
        /*noinspection CssInvalidPropertyValue*/
        width: -webkit-fill-available;
        width: available;
        max-width: 320px;
    }

    nav a + a {
        margin-left: 14px;
    }

    nav a:after {
        display: block;
        content: "";
        height: 3px;
        background-color: #b35f00;
        background-clip: content-box;
    }

    nav a:not(.active):after {
        width: 0;
        margin-left: 50%;
        transition: width 0.1s, margin-left 0.1s;
    }

    nav a.active:after {
        width: 100%;
    }

    nav a:not(.active):hover:after {
        width: 100%;
        margin-left: 0;
        transition: width 0.2s, margin-left 0.2s;
    }
}

@media (max-width: 350px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        line-height: 100%;
        width: min-content;
        padding: 6px;
    }

    nav a:first-child {
        margin-top: 4px;
    }

    nav a + a {
        margin-top: 6px;
    }

    nav a.active {
        background-color: #f1b900;
        border-radius: 6px;
    }
}


@media (max-width: 550px) and (min-width: 301px) {
    #title-bar #title-big {
        display: none;
    }

    #title-bar #title-middle {
        display: inline !important;
    }
}

@media (max-width: 300px) {
    #title-bar #title-big {
        display: none;
    }

    #title-bar #title-small {
        display: inline !important;
    }
}

@media (min-width: 800px) {
    #content {
        margin-right: 10px;
        margin-left: 10px;
    }

    footer div#left {
        float: left;
        width: calc(100% - 100px);
    }

    footer .python-powered-link {
        margin-top: 1.5em;
        margin-bottom: 1em;
    }
}

.container {
    max-width: 1000px;
    background-color: white;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 16px;
    box-shadow: 0 0 10px 0 #757575;
    overflow: auto;
}

@media (min-width: 500px) {
    .parted .half {
        float: left;
    }

    .parted .half:first-child {
        max-width: 50%;
        padding-right: 5%;
    }

    .parted .half:nth-child(2) {
        max-width: 45%;
    }
}

@media (max-width: 799px) {
    span.absent-teachers {
        margin-top: 8px;
    }

    .container {
        margin-bottom: 0;
        box-shadow: none;
    }

    .container:not(:last-child) {
        border-bottom: 1px solid grey;
    }

    .container:last-child {
        box-shadow: 0 5px 5px 0 #7575754f;
    }

    #title-bar {
        margin-top: 0;
    }
}

span.day-name {
    font-size: 187.5%;
}

span.date {
    font-size: 103.5%;
    font-style: italic;
    margin-bottom: 8px;
}

div.week {
    font-size: 110%;
    margin-bottom: 12px;
}

span.heading {
    display: block;
    font-weight: bold;
    font-size: 105%;
}

span.info-text {
    display: block;
    margin-bottom: 6px;
}

div.selection-info {
    margin-top: 30px;
    margin-bottom: 6px;
}

div.parted {
    display: table;
    margin-bottom: 10px;
}

.scroll-table {
    overflow: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 95%;
}

table.substitutions {
    white-space: nowrap;
}

thead {
    font-weight: bold;
    font-size: 95%;
    text-align: left;
}

tbody td {
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 1px solid #d4d4d4;
}

tbody tr.class-start td {
    border-top: 1px solid #a4a4a4;
}

tbody tr:nth-child(odd) td:not(.class-name) {
    background-color: rgba(224, 125, 0, 0.05);
}

tr.grey td:not(.class-name) {
    color: #c5c5c5;
}

a {
    text-decoration: none;
    color: #e07d00;
    cursor: pointer;
}

a:hover {
    color: #b35e00;
}

footer a {
    white-space: nowrap;
}

footer {
    max-width: 1000px;
    margin: 10px auto 10px;
    padding-right: 16px;
    padding-left: 16px;
}

footer a {
    color: #f7f55e;
}

footer a:hover {
    color: #dddb4a;
}

footer #telegram-notice {
    position: relative;
    padding-left: 34px;
}

footer #telegram-logo {
    width: 28px;
    height: 28px;
    vertical-align: center;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    margin-left: -34px;
}

.striked {
    text-decoration: line-through;
}

/*noinspection CssUnusedSymbol*/
.visible {
    display: block !important;
}

button {
    background-color: #E07D00;
    border: none;
    border-radius: 4px;
    font-size: 100%;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #E09D1F;
    box-shadow: 0 0 2px #FC8600;
}

#selection-container {
    padding-top: 8px;
    padding-bottom: 8px;
}

#selection-label {
    margin-right: 8px;
}

input[type=text] {
    font-size: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 8px;
    padding: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#selection-input-wrapper {
    white-space: nowrap;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

@media (min-width: 600px) {
    #status-container span {
        float: right;
        margin-left: 8px;
    }
}

@media (max-width: 599px) {
    #status-container span {
        display: block;
        margin-top: 10px;
    }
}
