{% import "_common.min.html" as c -%}
<!doctype html>
<html lang="de" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Vertretungsplan GaW Verden</title>
    {% block breadcrumb_list %}{% endblock %}
    {% block manifest_link %}{% endblock %}
    <meta name="apple-mobile-web-app-title" content="GaW VPlan">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="GaW VPlan">
    <meta name="keywords" content="Gymnasium am Wall, GaW Verden, Vertretung, Vertretungsplan, Schule {% block keywords %}{% endblock %}">
    {% block meta %}{% endblock %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://gawvertretung.florian-raediker.de">
    <meta property="og:title" content="{% block og_title %}{% endblock %} - Vertretungsplan GaW Verden">
    <meta property="og:locale" content="de_DE">
    <meta name="color-scheme" content="light dark">
    <script>const a=localStorage.getItem("dark-theme");null!=a&&(localStorage.setItem("theme",a),localStorage.removeItem("dark-theme"));switch(localStorage.getItem("theme")){case "light":document.documentElement.classList.add("light");break;case "dark":document.documentElement.classList.add("dark")}</script>
    <link href="/assets/style/main.css?v=5" rel="stylesheet">
    <!-- the following comment is replaced by gulpfile.js with generated code by realfavicon; the following two properties are missing -->
    <!-- ###realfavicon-replace### -->
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">
    {% block scripts %}{% endblock scripts %}
</head>

<body class="d-flex flex-column">
<a class="visually-hidden visually-hidden-focusable" href="#main">Zum Inhalt</a>
<div id="content" class="container-fluid">
    <header>
        <div class="box title-box">
            {% block title_bar %}
                {% if selection %}<span class="selection">{{ selection_str|e }}</span> - {% endif %}
                <span class="title-big">Vertretungsplan Gymnasium am Wall Verden</span>
                <span class="title-middle">GaW Vertretungsplan</span>
                <span class="title-small">GaW VPlan</span>
            {% endblock %}
            {% block navigation %}
                {{ c.navigation() }}
            {% endblock %}
        </div>
    </header>
    <main role="main" id="main">
        {% block content %}{% endblock %}
    </main>
</div>
<footer class="text-center text-white p-3 mt-4">
    <p>
        Dies ist eine inoffizielle Alternative zum originalen Vertretungsplan; die Daten stammen von
        <a href="{% block original_data_link %}https://gaw-verden.de/images/vertretung/klassen/subst_001.htm{% endblock %}" rel="noopener" target="_blank"
           class="external text-nowrap">gaw-verden.de</a>.<br>
        Alle Angaben ohne Gewähr.
    </p>
    <p>
        Programmiert von Florian Rädiker.
    </p>
    <p>
        <!--suppress HtmlUnknownTarget -->
        <a href="/about">Impressum</a> | <!--suppress HtmlUnknownTarget --><a href="/privacy">Datenschutzerklärung</a>
    </p>
    <object data="/assets/img/python-powered.min.svg">python powered</object>
</footer>
{% block body_end %}{% endblock %}
</body>
</html>
