{% macro navigation(plan_id=None) %}
<nav class="nav nav-pills flex-sm-row justify-content-around">
    <!--suppress HtmlUnknownTarget -->
    <a class="nav-item nav-link{% if plan_id == 'students' %} active{% endif %}" href="/students/">Schüler*innen</a>
    <!--suppress HtmlUnknownTarget -->
    <a class="nav-item nav-link{% if plan_id == 'teachers' %} active{% endif %}" href="/teachers/">Lehrer*innen</a>
</nav>
{% endmacro %}

{% macro breadcrumb_list(name, plan_id) %}
    <script type="application/ld+json">{"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"gawvertretung.florian-raediker.de","item":"https://gawvertretung.florian-raediker.de"},{"@type":"ListItem","position":2,"name":"{{ name }}","item":"https://gawvertretung.florian-raediker.de/{{ plan_id }}/"}]}</script>
{% endmacro %}

{% macro error500_content(original_data_link) %}
    <div class="box">
        <h1>Ein Fehler ist aufgetreten</h1>
        Der originale Vertretungsplan konnte nicht eingelesen werden.
        <div class="mt-2 mb-2 row g-2 justify-content-start">
            <div class="col-12 col-sm-auto">
                <a href="" rel="noopener" class="btn btn-primary" role="button"><!--bi-arrow-clockwise--> Erneut versuchen</a>
            </div>
            <div class="col-12 col-sm-auto">
                <a href="{{ original_data_link }}" rel="noopener" class="btn btn-primary" role="button"><!--bi-box-arrow-up-right--> Zum offiziellen Plan</a>
            </div>
        </div>
    </div>
{% endmacro %}
