{% extends "_info_site.min.html" %}
{% block og_title %}{% block title %}Impressum{% endblock %}{% endblock %}
{% block keywords %}, Impressum{% endblock %}

{% block breadcrumb_list %}
<script type="application/ld+json">{"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"gawvertretung.florian-raediker.de","item":"https://gawvertretung.florian-raediker.de"},{"@type":"ListItem","position":2,"name":"Impressum","item": "https://florian-raediker.de/about"}]}</script>
{% endblock %}

{% block content %}
    <div class="box">
        <h1>Impressum</h1>
        <object data="/assets/img/about.min.svg"></object>
    </div>
{% endblock %}

{% block gaw_verden_link %}https://gaw-verden.de/images/vertretung/klassen/subst_001.htm{% endblock %}
