{% extends "_base.min.html" %}
{% import "_common.html" as c %}

{% block title %}{% block og_title %}Impressum & Datenschutzerklärung{% endblock %}{% endblock %}
{% block keywords %}, Impressum, Datenschutzerklärung{% endblock %}
{% block breadcrumb_list %}{{ c.breadcrumb_list("Impressum & Datenschutzerklärung", "https://gawvertretung.florian-raediker.de/about") }}{% endblock %}

{% block content %}
<div class="box">
    <h1>Impressum</h1>
    <p>
        Betreiber dieser Website und verantwortlich für den Datenschutz ist:

        <object data="/assets/img/about.min.svg"></object>
    </p>

    <h1>Datenschutzerklärung</h1>

    <h2>Allgemein</h2>
    <p>
        Diese Website ist datenschutzfreundlich konzipiert. Personenbezogene Daten werden nicht dauerhaft gespeichert, es
        findet kein ausgefeiltes Tracking statt, Nutzer*innen wird nicht hinterherspioniert, Drittdienste werden nicht
        genutzt und es wird keine Werbung geschaltet.
        Alle erfassten, länger gespeicherten Daten können transparent <a href="/plausible">hier</a> eingesehen werden.
    </p>

    <h2>Daten, die beim Aufrufen dieser Website erfasst werden</h2>
    <p>
        Folgende Informationen werden beim Aufruf dieser Website automatisch von ihrem Browser mitgesendet:
    </p>
    <ul>
        <li>Ihre IP-Adresse,</li>
        <li>Datum und Uhrzeit des Aufrufs,</li>
        <li>die aufgerufene Webseite („URL“),</li>
        <li>die Art des Webbrowsers und das verwendete Betriebssystem („User-Agent“) sowie</li>
        <li>die zuvor aufgerufene Webseite („Referer“).</li>
    </ul>
    <p>
        Ohne diese Daten, insbesondere die IP-Adresse, ist es technisch nicht möglich, auf die Website zuzugreifen.
    </p>
    <p>
        Die Daten werden für 14 Tage in Server-Logfiles gespeichert und danach gelöscht.
        Die Speicherung erfolgt aufgrund meines berechtigten Interesses gemäß Art. 6 Abs. 1 lit. f DSGVO zur
        Sicherstellung der Sicherheit und Verfügbarkeit dieser Website.
    </p>
    <p>
        Des Weiteren werden beim Aufrufen dieser Website folgende Daten erfasst, die angeben, welche Funktionen genutzt
        werden. Dies umfasst keine personenbezogene Daten.
    </p>
    <ul>
        <li>Ob Vertretungen mittels Klassen bzw. Kürzeln ausgewählt sind.
            Es wird nur erfasst, <i>ob</i> diese Funktion genutzt wird.
            In keinem Fall werden die ausgewählte Klasse bzw. das ausgewählte Kürzel länger gespeichert als nötig, um
            die angezeigte Webseite zu generieren.</li>
        <li>Ob Benachrichtigungen eingeschaltet sind.</li>
        <li>Ob Stundenpläne eingetragen wurden. Im Gegensatz zu Klassen/Kürzeln wird der Stundenplan ausschließlich in
            Ihrem Browser gespeichert und niemals an den Server gesendet.</li>
        <li>Welches Design verwendet wird (hell oder dunkel).</li>
    </ul>
    <p>
        Diese Daten werden erfasst, um zu erfahren, welche Funktionen besonders häufig genutzt werden, und die Website
        entsprechend optimieren zu können.
    </p>

    <h2>Transparenz</h2>
    <p>
        <b>Alle wie oben beschrieben längerfristig erfassten Daten können transparent <a href="/plausible">hier</a>
            eingesehen werden.</b>
        Diese Daten sind nicht personenbezogen — personenbezogene Daten werden nie dauerhaft gespeichert.
    </p>

    <h2>Keine Tracking-Cookies</h2>
    <p>
        Diese Website kommt ohne Tracking-Cookies aus.<br>
        Es wird genau ein Cookie pro Vertretungsplan genutzt, um die ausgewählte Klasse bzw. das ausgewählte Kürzel zu
        speichern.
        Bei einem erneuten Aufruf der Webseite kann so dieselbe Klasse bzw. dasselbe Kürzel automatisch ausgewählt
        werden.
    </p>

    <h2>TLS-Verschlüsselung</h2>
    <p>
        Alle Daten, die zwischen Ihrem Browser und dem Server dieser Website ausgetauscht werden, sind mit
        Verschlüsselungsverfahren vor Dritten geschützt. Die Verschlüsselungsverfahren (TLSv1.2 und TLSv1.3) entsprechen
        dem Stand der Technik. Es sei darauf hingewiesen, dass ein lückenloser Schutz von übermittelten Daten nicht
        möglich ist.
    </p>

    <h2>Änderung dieser Datenschutzerklärung</h2>
    <p>
        Diese Datenschutzerklärung kann von mir gegebenenfalls angepasst werden. Bei größeren Änderungen wird vorab auf
        der Website prominent darauf hingewiesen.
    </p>

    <h2>Fragen</h2>
    Über die oben angegebenen Kontaktdaten können Sie sich bei Fragen zum Datenschutz jederzeit an mich wenden.
</div>
{% endblock %}
