{% extends "_info_site.min.html" %}
{% block title %}{{ options["title"] }}{% endblock %}
{% block og_title %}{% if options["title"] %}{{ options["title"] }}{% else %}{{ options["og_title"] }}{% endif %}{% endblock %}
{% block breadcrumb_list %}
    <script type="application/ld+json">{"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{"@type": "ListItem","position": 1,"name": "gawvertretung.florian-raediker.de","item": "https://gawvertretung.florian-raediker.de"},{"@type": "ListItem","position": 2,"name": {{ options["title"] }},"item": "https://gawvertretung.florian-raediker.de/{{ options["id"] }}/"}]}</script>
{% endblock %}

{% block manifest_link %}
    <!--suppress HtmlUnknownTarget -->
    <link rel="manifest" href="manifest.json">
{% endblock %}
{% block keywords %}{% if options["keywords"] %}{% for kw in options["keywords"] %}, {{ kw }}{% endfor %}{% endif %}{% endblock %}
{% block meta %}
    <meta name="description" content="Vertretungsplan für das Gymnasium am Wall Verden">
{% endblock %}
{% block stylesheets %}
    <link href="/assets/style/substitutions.css" rel="stylesheet">
    <link href="/assets/style/substitutions-dark.css" rel="stylesheet" class="dark-stylesheet" media="(prefers-color-scheme: dark)">
{% endblock %}

{% block content %}
    <div class="box">
        <h1>Ein Fehler ist aufgetreten</h1>
        Der <a href="https://gaw-verden.de/images/vertretung/lehrer/subst_001.htm" rel="noopener">originale Vertretungsplan</a> konnte nicht eingelesen werden.
    </div>
{% endblock %}

{% block original_data_link %}https://gaw-verden.de/images/vertretung/klassen/subst_001.htm{% endblock %}
