{% extends "_base.min.html" %}
{% block title %}{% if not selection %}{{ options["title"] }}{% else %}{{ selection_str|e }}{% endif %}{% endblock %}
{% block og_title %}{% if options["title"] %}{{ options["title"] }}{% else %}{{ options["og_title"] }}{% endif %}{% endblock %}
{% block breadcrumb_list %}
    <script type="application/ld+json">{"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{"@type": "ListItem","position": 1,"name": "gawvertretung.florian-raediker.de","item": "https://gawvertretung.florian-raediker.de"},{"@type": "ListItem","position": 2,"name": {{ options["title"] }},"item": "https://gawvertretung.florian-raediker.de/{{ options["id"] }}/"}]}</script>
{% endblock %}

{% block manifest_link %}
    <!--suppress HtmlUnknownTarget -->
    <link rel="manifest" href="manifest.json">
{% endblock %}
{% block keywords %}{% if options["keywords"] %}{% for kw in options["keywords"] %}, {{ kw }}{% endfor %}{% endif %}{% endblock %}
{% block meta %}
    <meta name="description" content="Vertretungsplan für das Gymnasium am Wall Verden">
{% endblock %}
{% block stylesheets %}
    <link href="/assets/style/substitutions.css" rel="stylesheet">
    <link href="/assets/style/substitutions-dark.css" rel="stylesheet" class="dark-stylesheet" media="(prefers-color-scheme: dark)">
{% endblock %}
{% block scripts %}
    <script src="/assets/js/substitutions.min.js?v=3"></script>
    {% if options["supports_timetables"] and selection %}
        <script src="/assets/js/timetables.min.js"></script>
    {% endif %}
    <script src="/assets/js/dark-theme.min.js"></script>
{% endblock %}

{% block title_end %}
<nav class="nav nav-pills flex-sm-row justify-content-around">
    <!--suppress HtmlUnknownTarget -->
    <a class="nav-item nav-link{% if options['id'] == 'students' %} active{% endif %}" href="/students/">Schüler*innen</a>
    <!--suppress HtmlUnknownTarget -->
    <a class="nav-item nav-link{% if options['id'] == 'teachers' %} active{% endif %}" href="/teachers/">Lehrer*innen</a>
</nav>
{% endblock %}

{% block content %}
<template id="template-news-dark-theme">
    <div class="box" aria-hidden="true" id="news-dark-theme">
        <button type="button" class="close" id="news-dark-theme-close" aria-label="Schließen">
            <span >&times;</span>
        </button>
        Die Webseite kann jetzt in einem hellen und einem dunklen Design dargestellt werden. Das Design kann
        <a href="#dark-theme-heading">in den Einstellungen am Ende der Seite</a> geändert werden.
    </div>
</template>


<div class="box status-box clearfix">
    <span>Stand: <span id="status">{{ storage.status }}</span></span>
    <span class="float-right" id="online-status"></span>
</div>

{% for day in storage.iter_days() %}
{% set day_loop = loop %}
<div class="box substitutions-box">
    <div class="p-0 mb-3">
        <div class="row">
            <div class="col-md">
                <div class="day-heading">
                    <span class="day-name pr-1">{{ day.name }}</span>
                    <span class="text-muted date">{{ day.date }}</span>
                </div>
                Woche {{ day.week }}
                {% if day.news %}
                    <div class="day-info">
                        {% set id %}day-info-checkbox-{{ day.date|replace(".", "_") }}-news{% endset %}
                        <input type="checkbox" class="day-info-checkbox" id="{{ id }}" aria-hidden="true">
                        <label class="day-info-label" for="{{ id }}">
                            <span class="day-info-heading">Nachrichten: </span>
                            <span class="day-info-content">{{ day.news|join("<br>")|safe }}</span>
                        </label>
                    </div>
                {% endif %}
            </div>
            <div class="col-md">
                {% for title, text in day.info %}
                    <div class="day-info">
                        {% set id %}day-info-checkbox-{{ day.date|replace(".", "_") }}-{{ loop.index0 }}{% endset %}
                        <input type="checkbox" class="day-info-checkbox" id="{{ id }}" aria-hidden="true">
                        <label class="day-info-label" for="{{ id }}">
                            <span class="day-info-heading">{{ title }}: </span>
                            <span class="day-info-content">{{ text }}</span>
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {# In the following, {%- -%}/{{- -}} must be used to make subs_table completely empty if there are no substitutions #}
    {% set subs_table -%}
        {%- for group in day.iter_groups(selection) -%}
            {%- set s = group.substitutions[0] -%}
            <tr class="first-of-group{% if day_loop.index == 1 and s.lesson_num is not none %} lesson{{ s.lesson_num }}{% endif %}{% if s.is_new %} new-subs{% endif %}">
                {%- set has_affected_group = not selection and group.affected_groups is not none and group.affected_groups|length == 1 -%}
                <td rowspan="{{ group.substitutions|length }}"
                    class="group-name{% if has_affected_group %} selectable{% endif %}">
                    {%- if has_affected_group -%}
                        <a class="i-bookmark stretched-link" href="?s={{ group.affected_groups.__iter__().__next__() }}"></a>
                    {%- endif -%}
                    {{- group.get_html_name()|safe -}}
                </td>
                {%- for d in group.substitutions[0].data -%}
                    <td>{{ d }}</td>
                {%- endfor -%}
            </tr>
            {%- for s in group.substitutions[1:] -%}
                {%- set classes -%}
                    {%- if day_loop.index == 1 and s.lesson_num is not none -%}lesson{{ s.lesson_num }}{%- endif -%}
                    {%- if s.is_new %} new-subs{%- endif -%}
                {%- endset -%}
                <tr {% if classes %}class="{{ classes }}"{% endif %}>
                    {%- for d in s.data -%}
                        <td>{{ d }}</td>
                    {%- endfor -%}
                </tr>
            {%- endfor -%}
        {%- endfor -%}
    {%- endset -%}
    {% if subs_table %}
        <div class="table-responsive">
            <table class="table table-sm substitutions-table{% if selection %} has-selection{% endif %}">
                <thead>
                    <tr>
                        {% for header in options["table_headers"] %}
                            <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                {{ subs_table|safe }}
            </table>
        </div>
    {% else %}
        <p>Es gibt keine Vertretungen.</p>
    {% endif %}
</div>
{% else %}
<div class="box">
    Es gibt keine Vertretungen.
</div>
{% endfor %}

<div class="box">
    <h1>Einstellungen</h1>
    <h2 id="select-heading">{{ options["texts"]["select_heading"] }}</h2>
    <form class="form" type="get">
        {% if not selection %}
            <label for="selectionInput">{{ options["texts"]["select_text"] }}</label>
        {% endif %}
        <div class="form-row">
            <div class="col-9 col-sm-6 col-md-4 col-xl-3">
                <input type="text" class="form-control" id="selectionInput" name="s" required
                       value="{% if selection %}{{ selection_str|e }}{% endif %}" aria-describedby="selectionHelp">
                <small id="selectionHelp" class="form-text text-muted">
                    {{ options["texts"]["selection_help_text"] }}
                </small>
            </div>
            <div class="col-3 col-sm-1 col-md-1">
                <button type="submit" class="btn btn-primary mb-2">OK</button>
            </div>
        </div>
        {% if selection %}
            <div class="form-row mt-3 ml-2">
                <a class="btn btn-primary" href="?all">{{ options["texts"]["selection_all"] }}</a>
            </div>
        {% endif %}
    </form>

    <div id="notifications-block">
        <h2 id="notifications-heading">Benachrichtigungen</h2>
        Erhalte Push-Benachrichtigungen, wenn es neue Vertretungen gibt.<br>
        <span class="text-danger"></span>
        <div id="notifications-not-available-alert" class="alert alert-danger mt-3">
            Push-Benachrichtigungen werden von deinem Browser nicht unterstützt. Versuche, einen moderneren Browser zu
            verwenden. Benachrichtigungen werden von Safari und allen Browsern unter iOS grundsätzlich nicht
            unterstützt.
        </div>
        <div class="custom-control custom-switch mt-3" id="toggle-notifications-wrapper" hidden>
            <input type="checkbox" class="custom-control-input" id="toggle-notifications">
            <label class="custom-control-label user-select-none" for="toggle-notifications">
                <template id="notifications-info-none">Benachrichtigungen sind deaktiviert</template>
                <template id="notifications-info-all">{{ options["texts"]["notifications_info_all"] }}</template>
                <template id="notifications-info-selection">
                    Du wirst für <i>{{ selection_str|e }}</i> benachrichtigt
                </template>
                <template id="notifications-info-blocked">
                    <span class="text-danger">Du hast Benachrichtigungen vom Vertretungsplan blockiert. Erlaube
                        Benachrichtigungen in den Einstellungen deines Browsers.</span>
                </template>
                <template id="notifications-info-failed">Das Aktivieren von Benachrichtigungen ist fehlgeschlagen.
                    Lade die Seite neu oder verwende einen anderen Browser.</template>
                <span id="notifications-info">Benachrichtigungen sind deaktiviert</span>
            </label>
        </div>
    </div>

    {% if options["supports_timetables"] %}
        {% if selection %}
            <template id="timetables-block-template">
                Für alle ausgewählten Klasse können Lehrer*innenkürzel für jede Stunde eingegeben werden.
                Vertretungen mit dem eingegebenen Kürzel werden hervorgehoben.
                Der Stundenplan wird ausschließlich im Browser gespeichert und nicht an den Server gesendet.
                <div id="timetables-container"></div>
            </template>
            <template id="timetable-template">
                <div>
                    <h3 class="timetable-name mt-2">
                        Stundenplan für <span class="timetable-selection"></span><a class="share-timetable-button"></a>
                    </h3>
                    <div class="share-timetable-block" hidden>
                        Stundenplan teilen: Rufe den folgenden Link auf anderen Geräten auf, um den Stundenplan für
                        <span class="timetable-selection"></span> auf diese zu übertragen.
                        <div class="row">
                            <div class="input-group copy-timetable-link-group col col-md-9 col-lg-7 col-xl-6">
                                <!--suppress HtmlFormInputWithoutLabel -->
                                <input type="text" class="form-control timetable-link-input" readonly>
                                <div class="input-group-append">
                                    <button class="btn copy-timetable-link input-group-text" type="button"
                                            aria-label="Link kopieren" title="Kopieren"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div class="timetable-table-wrapper">
                            <table class="timetable-table table table-borderless table-sm">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th scope="col">Mo</th>
                                        <th scope="col">Di</th>
                                        <th scope="col">Mi</th>
                                        <th scope="col">Do</th>
                                        <th scope="col">Fr</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </template>
        {% endif %}
        <div id="timetables-block">
            <h2 id="timetables-heading">Stundenpläne <span class="badge-pill badge-danger">Beta</span></h2>
            {% if not selection %}
                Wähle Klassen aus, um Stundenpläne für die ausgewählten Klassen eingeben zu können.<br>
                Vertretungen, die dem Stundenplan entsprechen, werden dann hervorgehoben.
            {% endif %}
        </div>
    {% endif %}

    <template id="dark-theme-block-template">
        <h2 id="dark-theme-heading">Design</h2>
        <div class="custom-control custom-radio">
            <input type="radio" id="dark-theme-system-default" name="dark-theme" class="custom-control-input" checked>
            <label class="custom-control-label" for="dark-theme-system-default">System</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="dark-theme-light" name="dark-theme" class="custom-control-input">
            <label class="custom-control-label" for="dark-theme-light">Hell</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="dark-theme-dark" name="dark-theme" class="custom-control-input">
            <label class="custom-control-label" for="dark-theme-dark">Dunkel</label>
        </div>
    </template>
    <div id="dark-theme-block" aria-hidden="true"></div>
</div>
{%- endblock -%}

{% block original_data_link %}{{ options["original_data_link"] }}{% endblock %}
