{% extends "substitution-plan.min.html" %}
{% block title %}{% block og_title %}{% if selection %}{{ selection_str|e }}{% else %}Schüler*innen{% endif %}{% endblock %}{% endblock %}

{% block keywords %}, Schüler, Klassen, Schüler*innen{% endblock %}
{% block breadcrumb_list %}
    <script type="application/ld+json">{"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"gawvertretung.florian-raediker.de","item":"https://gawvertretung.florian-raediker.de"},{"@type":"ListItem","position":2,"name":"Schüler*innen","item": "https://florian-raediker.de/"}]}</script>
{% endblock %}

{# % block manifest_path %}/students/manifest.json{% endblock % #}

{% block title_end %}
    <nav class="nav nav-pills flex-sm-row justify-content-around">
        <!--suppress HtmlUnknownTarget -->
        <a class="nav-item nav-link active" href="/students/">Schüler*innen</a>
        <!--suppress HtmlUnknownTarget -->
        <a class="nav-item nav-link" href="/teachers/">Lehrer*innen</a>
    </nav>
{% endblock %}

{% block table_head %}
    <thead>
        <tr>
            <th>Klasse(n)</th>
            <th>Lehrer</th>
            <th>Vertreter</th>
            <th>Stunde</th>
            <th>Fach</th>
            <th>Raum</th>
            <th>Vertr. von</th>
            <th>Hinweistext</th>
        </tr>
    </thead>
{% endblock %}
{% block show_all_substitutions %}<a href="/">Alle Klassen</a>{% endblock %}
{% block select_heading %}Klassen auswählen{% endblock %}
{% block select_text -%}
    Einzelne Klassen können mit dem Lesezeichen-Symbol ausgewählt werden.<br>
    Mehrere Klassen oder Klassen, für die es gerade keine Vertretungen gibt, können hier ausgewählt werden:
{%- endblock %}
{%- block selection_help_text %}Mehrere Klassen durch Kommata trennen{% endblock -%}
{% block selection_all %}Alle Klassen{% endblock %}

{% block notifications_info_all %}
    Du wirst für alle Klassen benachrichtigt. Wähle Klassen aus, um nur für bestimmte Klassen benachrichtigt zu werden.
{% endblock %}

{% block timetables_block %}
    <template id="timetables-block-template">
        <h2 id="timetables-heading">Stundenpläne <span class="badge-pill badge-danger">Beta</span></h2>
        Für alle ausgewählten Klasse können Lehrer*innenkürzel für jede Stunde eingegeben werden.
        Vertretungen mit dem eingegebenen Kürzel werden hervorgehoben.
        Der Stundenplan wird ausschließlich im Browser gespeichert und nicht an den Server gesendet.
        <div id="timetables-container"></div>
    </template>
    <template id="timetable-template">
        <div>
            <h3 class="timetable-name mt-2">Stundenplan für <span class="timetable-selection"></span></h3>
            <div class="table-responsive">
                <div class="timetable-table-wrapper">
                    <table class="timetable-table table table-borderless table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th scope="col">Mo</th>
                                <th scope="col">Di</th>
                                <th scope="col">Mi</th>
                                <th scope="col">Do</th>
                                <th scope="col">Fr</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </template>
    <div id="timetables-block"></div>
{% endblock %}

{% block gaw_verden_link %}https://gaw-verden.de/images/vertretung/klassen/subst_001.htm{% endblock %}
