{% extends "_info_site.html" %}
{% block title %}Schüler*innen{% endblock %}
{% block keywords %}, Schüler, Klassen, Schüler*innen{% endblock %}
{% block breadcrumb_list %}
    <script type="application/ld+json">{"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"gawvertretung.florian-raediker.de","item":"https://gawvertretung.florian-raediker.de"},{"@type":"ListItem","position":2,"name":"Schüler*innen","item": "https://florian-raediker.de/"}]}</script>
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-primary rounded shadow-sm">
        <h1>Ein Fehler ist aufgetreten</h1>
        Der <a href="https://gaw-verden.de/images/vertretung/klassen/subst_001.htm" rel="noopener">originale Vertretungsplan</a> konnte nicht eingelesen werden.
    </div>
{% endblock %}

{% block gaw_verden_link %}https://gaw-verden.de/images/vertretung/klassen/subst_001.htm{% endblock %}