{% extends "_base.min.html" %}
{%- block content -%}
<div class="box status-box">
    Stand: {{ status }}
</div>
{%- for day in days -%}
{%- set day_loop = loop -%}
<div class="box">
    <div class="container p-0 mb-3">
        <div class="row">
            <div class="col-auto">
                <div class="day-heading">
                    <span class="day-name pr-1">{{- day.day_name -}}</span>
                    <span class="text-muted date">{{- day.date -}}</span>
                </div>
                Woche {{ day.week -}}
                {%- if day.news -%}
                    <div>
                        <span class="day-info">Nachrichten:</span>
                        {%- for news_line in day.news[:-1] -%}
                            {{ news_line|safe }}<br>
                        {%- endfor -%}
                        {{ day.news[-1] }}
                    </div>
                {%- endif -%}
            </div>
            <div class="col-auto">
                {%- for title, text in day.info -%}
                    <span class="day-info">{{ title }}:</span>
                    {{ text }}
                {%- endfor -%}
            </div>
        </div>
    </div>
    {%- set found_substitutions = true -%}
    {%- set subs_table -%}
    {%- for group in day.iter_groups(selection) -%}
    {% set s = group.substitutions[0] %}
    <tr class="first-of-group {%- if day_loop.index == 1 and s.lesson_num is not none %} lesson{{ s.lesson_num }}{%- endif -%}{% if s.is_new %} new-subs{% endif %}">
        <td rowspan="{{ group.substitutions|length }}" class="group-name">
            {%- if not selection and group.affected_groups_pretty is not none and group.affected_groups_pretty|length == 1 -%}
                <a class="icon i-bookmark" href="?s={{ group.affected_groups_pretty[0] }}"></a>
            {%- endif -%}
            {{ group.get_html_name()|safe }}
        </td>
        {%- for data in group.substitutions[0] -%}
            <td>{{ data }}</td>
        {%- endfor -%}
    </tr>
    {%- for s in group.substitutions[1:] -%}
    {% set classes -%}
        {%- if day_loop.index == 1 and s.lesson_num is not none -%}lesson{{ s.lesson_num }}{% endif %}{% if s.is_new %} new-subs{%- endif -%}
    {%- endset %}
    <tr {% if classes %}class="{{- classes -}}"{% endif %}>
        {%- for data in s -%}
            <td>{{ data }}</td>
        {%- endfor -%}
    </tr>
    {%- endfor -%}
    {%- endfor -%}
    {%- endset -%}
    {%- if subs_table -%}
        <div class="table-responsive">
            <table class="table table-sm substitutions-table">
                {%- block table_head -%}{%- endblock -%}
                {{ subs_table|safe }}
            </table>
        </div>
    {%- else -%}
        <p>Es gibt keine Vertretungen.</p>
    {%- endif -%}
</div>
{%- else -%}
<div class="box">
    Es gibt keine Vertretungen.
</div>
{%- endfor -%}
{%- if selection -%}
    <div class="box">
        Es werden Vertretungen für <i>{{ selection_str }}</i><!-- htmlmin:ignore --> angezeigt. <!-- htmlmin:ignore -->
        {% block show_all_substitutions -%}{%- endblock -%}
    </div>
{%- endif -%}
{%- endblock -%}

{%- block body_end -%}
    <script src="{{ base_path }}/assets/js/substitutions.min.js"></script>
{%- endblock -%}