<!doctype html>
<html lang="de" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{% block title %}{% endblock %} - Vertretungsplan GaW Verden</title>
    {% block breadcrumb_list %}{% endblock %}
    <link rel="icon" href="{{ base_path }}/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="icon" href="{{ base_path }}/favicon.ico" sizes="16x16 32x32 48x48" type="image/x-icon">
    <link rel="icon" href="{{ base_path }}/favicon-16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="{{ base_path }}/favicon-32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="{{ base_path }}/favicon-64.png" sizes="64x64" type="image/png">
    <link rel="icon" href="{{ base_path }}/favicon-192.png" sizes="192x192" type="image/png">
    <link rel="manifest" href="{{ base_path }}/manifest.json">
    <link rel="apple-touch-icon" href="{{ base_path }}/favicon-128.png">
    <meta name="apple-mobile-web-app-title" content="GaW VPlan">
    <meta name="application-name" content="GaW VPlan">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#e67b10">
    <meta name="keywords"
          content="Gymnasium am Wall, GaW Verden, Vertretung, Vertretungsplan, Schule{% block keywords %}{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://gawvertretung.florian-raediker.de">
    <meta property="og:title" content="{% block og_title %}{% endblock %} - Vertretungsplan GaW Verden">
    <meta property="og:locale" content="de_DE">
    <meta property="og:image" content="{{ base_path }}/favicon.svg">
    <meta property="og:image:type" content="image/svg+xml">
    <meta property="og:image" content="{{ base_path }}/favicon-192.png">
    <meta property="og:image:type" content="image/png">

    <link href="{{ base_path }}/assets/style/main.css" rel="stylesheet">
</head>
<body class="d-flex flex-column">
<a class="sr-only sr-only-focusable" href="#main">Zum Inhalt</a>
<div id="content" class="container-xl">
    <header class="main-container">
        <div class="box title-box">
            {% block title_bar %}
                {% if selection %}<span class="selection">{{ selection_str }}</span><!-- htmlmin:ignore --> <!-- htmlmin:ignore -->- {% endif %}
                <span class="title-big">Vertretungsplan Gymnasium am Wall Verden</span>
                <span class="title-middle">GaW Vertretungsplan</span>
                <span class="title-small">GaW VPlan</span>
            {% endblock %}
            {% block title_end %}{% endblock %}
        </div>
    </header>
    <main role="main" id="main">
        {% block content %}{% endblock %}
    </main>
</div>
<footer class="text-center bg-dark text-white p-3 mt-4">
    <p>
        Dies ist eine inoffizielle Alternative zum originalen Vertretungsplan; die Daten stammen von
        <a href="{% block gaw_verden_link %}{% endblock %}" rel="noopener" target="_blank" class="external text-nowrap">gaw-verden.de</a>.<br>
        Alle Angaben ohne Gewähr.
    </p>
    <p>
        Programmiert von Florian Rädiker.
    </p>
    <p>
        <a href="{{ base_path }}/about">Impressum</a> | <a href="{{ base_path }}/privacy">Datenschutzerklärung</a>
    </p>
    <object data="{{ base_path }}/assets/img/python-powered.svg">python powered</object>
</footer>
{% block body_end %}{% endblock %}
</body>
</html>