{% extends "substitution-plan.min.html" %}
{% block title %}{% block og_title %}{% if selection %}{{ selection_str }}{% else %}Lehrer*innen{% endif %}{% endblock %}{% endblock %}

{% block keywords %}, Lehrer, Lehrer*innen{% endblock %}
{% block breadcrumb_list %}
    <script type="application/ld+json">{"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"gawvertretung.florian-raediker.de","item":"https://gawvertretung.florian-raediker.de"},{"@type":"ListItem","position":2,"name":"Lehrer*innen","item": "https://florian-raediker.de/teachers"}]}</script>
{% endblock %}

{% block manifest_path %}/teachers/manifest.json{% endblock %}

{% block title_end %}
    <nav class="nav nav-pills flex-sm-row justify-content-around">
        <!--suppress HtmlUnknownTarget -->
        <a class="nav-item nav-link" href="/students/">Schüler*innen</a>
        <!--suppress HtmlUnknownTarget -->
        <a class="nav-item nav-link active" href="/teachers/">Lehrer*innen</a>
    </nav>
{% endblock %}

{% block table_head %}
    <thead>
        <tr>
            <th>Vertr.</th>
            <th>Stunde</th>
            <th>Klasse(n)</th>
            <th>Lehrer*in</th>
            <th>Fach</th>
            <th>Raum</th>
            <th>Vertr. von</th>
            <th>Hinweistext</th>
        </tr>
    </thead>
{% endblock %}
{% block show_all_substitutions %}<a href="/teachers">Alle Lehrer*innen</a>{% endblock %}
{% block select_heading %}Kürzel auswählen{% endblock %}
{% block select_text -%}
    Einzelne Lehrer*innenkürzel können mit dem Lesezeichen-Symbol ausgewählt werden.<br>
    Mehrere Kürzel oder Kürzel, für die es gerade keine Vertretungen gibt, können hier ausgewählt werden:
{%- endblock %}
{%- block selection_help_text %}Mehrere Kürzel durch Kommata trennen{% endblock -%}
{% block selection_all %}Alle Vertretungen{% endblock %}

{% block push_notifications_heading %}Benachrichtigungen{% endblock %}
{% block notifications_info_all %}Du wirst für alle Vertretungen benachrichtigt. Wähle Kürzel aus, um nur für bestimmte
    Kürzel benachrichtigt zu werden.{% endblock %}

{% block gaw_verden_link %}https://gaw-verden.de/images/vertretung/lehrer/subst_001.htm{% endblock %}
