{% extends "substitution-plan.min.html" %}
{% block title %}{% block og_title %}{% if selection %}{{ selection_str }}{% else %}Schüler*innen{% endif %}{% endblock %}{% endblock %}

{% block keywords %}, Schüler, Klassen, Schüler*innen{% endblock %}
{% block breadcrumb_list %}
    <script type="application/ld+json">{"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"gawvertretung.florian-raediker.de","item":"https://gawvertretung.florian-raediker.de"},{"@type":"ListItem","position":2,"name":"Schüler*innen","item": "https://florian-raediker.de/"}]}</script>
{% endblock %}

{% block title_end %}
    <nav class="nav nav-pills flex-sm-row justify-content-around">
        <a class="nav-item nav-link active" href="{{ base_path }}/">Schüler*innen</a>
        <a class="nav-item nav-link" href="{{ base_path }}/teachers">Lehrer*innen</a>
    </nav>
{% endblock %}

{% block table_head %}
    <thead>
        <tr>
            <th>Klasse(n)</th>
            <th>Lehrer</th>
            <th>Vertreter</th>
            <th>Stunde</th>
            <th>Fach</th>
            <th>Raum</th>
            <th>Vertr. von</th>
            <th>Hinweistext</th>
        </tr>
    </thead>
{% endblock %}
{% block show_all_substitutions %}<a href="{{ base_path }}/">Alle Klassen</a>{% endblock %}
{% block select_heading %}Klassen auswählen{% endblock %}
{% block select_text -%}
    Einzelne Klassen können mit dem Lesezeichen-Symbol ausgewählt werden.<br>
    Mehrere Klassen oder Klassen, für die es gerade keine Vertretungen gibt, können hier ausgewählt werden:
{%- endblock %}
{%- block selection_help_text %}
    Mehrere Klassen durch Kommata trennen
{% endblock -%}
{% block push_notifications_heading %}Benachrichtigungen{% endblock %}
{% block gaw_verden_link %}https://gaw-verden.de/images/vertretung/klassen/subst_001.htm{% endblock %}