@import "utilities/icons";

// ========================
// ICONS

.bi {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    line-height: 1;
}

.external {
    white-space: nowrap;
}
.external::after {
    @extend %icon-primary;
    @include icon(
                    url("data:image/svg+xml,!bi-box-arrow-up-right"),
            $width: 0.875em,
            $height: 0.875em
    );
    margin-left: 0.25em;
}

.i-bookmark::before {
    @extend %icon-primary;
    @include icon(
                    url("data:image/svg+xml,!bi-bookmark"),
            $width: 0.8125em,
            $height: 0.8125em
    );
    vertical-align: -0.085em;
    margin-right: 0.25em;
}

.i-reload::before {
    @include icon(
        url("data:image/svg+xml,!bi-bookmark")
    );
    margin-right: 0.25em;
}
