<!doctype html>
<html lang="de" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - {{ options.title }}</title>
    {% macro breadcrumb_list(name, path) %}
        <script type="application/ld+json">{{ json_dumps({"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name": options.domain,"item":"https://"+options.domain},{"@type":"ListItem","position":2,"name":name,"item":"https://"+options.domain+"/"+path}]})|safe }}</script>
    {% endmacro %}
    {% block breadcrumb_list %}{% endblock %}
    {% block additional_meta %}{% endblock %}
    <meta name="description" content="{{ (subs_options.description or options.description) if subs_options else options.description }}">
    <meta name="keywords" content="{{ (subs_options.keywords or options.keywords) if subs_options else options.keywords }}">
    <meta property="og:title" content="{% block og_title %}{% endblock %} - {{ options.title }}">
    <meta name="color-scheme" content="light dark">
    {{ options.html_head|safe }}
    <script>const a=localStorage.getItem("dark-theme");null!=a&&(localStorage.setItem("theme",a),localStorage.removeItem("dark-theme"));switch(localStorage.getItem("theme")){case "light":document.documentElement.classList.add("light");break;case "dark":document.documentElement.classList.add("dark")}</script>
    <link href="{{ static('assets/style/main.css') }}" rel="stylesheet">
    {% if ferien %}<link href="{{ static('assets/ferien/style.css') }}" rel="stylesheet">{% endif %}
    <script>window.plausible=window.plausible||function(){(window.plausible.q=window.plausible.q||[]).push(arguments)}</script>
    {% block scripts %}{% endblock scripts %}
    {% if ferien %}<script defer src="{{ static('assets/ferien/script.js') }}"></script>{% endif %}
    {% if plausible and plausible.domain and plausible.js %}<script defer data-domain="{{ plausible.domain }}" {% if plausible.endpoint %}data-api="{{ plausible.endpoint }}" {% endif %}src="{{ plausible.js }}"></script>{% endif %}
</head>

<body class="d-flex flex-column">
<a class="visually-hidden visually-hidden-focusable" href="#main">Zum Inhalt</a>
<div id="content" class="container-fluid">
    <header>
        <div class="box title-box">
            {% block title_bar %}
                {% block pre_title %}{% endblock %}
                <span class="title-big">{{ options.title_big }}</span>
                <span class="title-middle">{{ options.title_middle }}</span>
                <span class="title-small">{{ options.title_small }}</span>
            {% endblock %}
            {% block navigation %}
                <nav class="nav nav-pills flex-sm-row justify-content-around">
                    {% for plan in options.plans %}
                        <a class="nav-item nav-link{% if plan.id == plan_id %} active{% endif %}" href="/{{ plan.id }}/">{{ plan.name }}</a>
                    {% endfor %}
                </nav>
            {% endblock %}
        </div>
    </header>
    <main role="main" id="main">
        {% block content %}{% endblock %}
    </main>
</div>
<footer>
    {{ options.footer_html|safe }}
    <p>
        Programmiert von Florian Rädiker.<br>
        Diese Webseite ist open-source. Der Quellcode kann <a href="https://github.com/FlorianRaediker/OpenVPlan" target="_blank" rel="noopener" class="external">auf GitHub</a> eingesehen werden (AGPLv3-Lizenz).
    </p>
    <p>
        <!--suppress HtmlUnknownTarget -->
        <a href="/about">Impressum & Datenschutzerklärung</a>
    </p>
</footer>
{% block body_end %}{% endblock %}
</body>
</html>
