{% extends "_base.min.html" %}

{% block title %}{{ subs_options.title }}{% endblock %}
{% block og_title %}{{ subs_options.og_title or subs_options.title }}{% endblock %}
{% block breadcrumb_list %}{{ breadcrumb_list(subs_options.title, plan_id + "/") }}{% endblock %}
{% block additional_meta %}
    <link rel="manifest" href="app.webmanifest">
    <link rel="canonical" href="/{{ plan_id }}/">
{% endblock %}

{% block content %}
<div class="box">
    <div class="login-form">
        <form action="" method="post">
            <div class="mb-3">
                {{ subs_options.texts.login|safe }}
                {% if invalid %}<div class="invalid-login mt-1">Benutzername und/oder Passwort falsch</div>{% endif %}
            </div>
            <div class="form-controls">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Benutzername" autocomplete="username" required {% if username %}value="{{ username }}"{% endif%}>
                    <label for="username">Benutzername</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Passwort" autocomplete="current-password" required>
                    <label for="password">Passwort</label>
                </div>
                <div class="mb-3 form-check">
                    <label class="form-check-label" for="save-login" id="save-login-label">Zugangsdaten im Browser speichern</label>
                    <input name="save-login" class="form-check-input" type="checkbox" id="save-login" checked>                
                </div>
                <button type="submit" class="btn btn-primary">Anmelden</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
